<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="/echarts.common.min.js"></script>
    <script src="/essos.js"></script>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>SNH48-Data visualization</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="index"> <img src="snh48.jpg" width="30" height="30" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="all">集资总榜 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">全团分析</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="rank">土豪列表</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="recentPK">近期PK</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                下拉更多
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="card">模型预测</a>
                                <a class="dropdown-item" href="#">CP榜单</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="login">登录</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" th:action="@{/snh48/user}" method="get">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="name">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-info dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        图形模式
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#" onclick="ech(1)" data-toggle="modal"
                           data-target="#exampleModal">分队伍查看</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" onclick="ech(2)" data-toggle="modal"
                           data-target="#exampleModal">分团体查看</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" onclick="ech(3)" data-toggle="modal"
                           data-target="#exampleModal">分期数查看</a>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop2" type="button" class="btn btn-outline-info dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        表格模式
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                        <a class="dropdown-item" href="#" onclick="bbb(1)">分队伍查看</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" onclick="bbb(2)">分团体查看</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" onclick="bbb(3)">分期数查看</a>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-info" data-toggle="modal"
                        data-target="#exampleModal1">全团情况
                </button>
            </div>

            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <blockquote class="blockquote">
                                <p th:text="${allMoney}" class="mb-0"></p>
                                <footer class="blockquote-footer">全都是王子杰的<cite title="Source Title">饺子</cite></footer>
                            </blockquote>
                            <blockquote class="blockquote">
                                <p th:text="${totalCount}" class="mb-0"></p>
                                <footer class="blockquote-footer">全都是花过钱的<cite title="Source Title">河粉</cite></footer>
                            </blockquote>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     th:attr="aria-valuenow=${money}" th:style="'width:'+${wid}"
                                     aria-valuemin="0" aria-valuemax="10000000">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div id="pm" style="width: 320px;height: 480px;">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div id="xyz" style="width: 100%;height: 100%">
                    容器
                </div>
            </div>
        </div>
        <!--<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">-->
        <!--<div id="xyz" style="width: 100%;height:100%;"></div>-->
        <!--</div>-->
    </div>


    <!--<div class="row">-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--<div class="list-group">-->
    <!--<button type="button" class="list-group-item" onclick="ech(1);bbb(1)">分队伍查看</button>-->
    <!--<button type="button" class="list-group-item" onclick="ech(2);bbb(2)">分团体查看</button>-->
    <!--<button type="button" class="list-group-item" onclick="ech(3);bbb(3)">分期数查看</button>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->

    <!--<div class="panel-group" id="accordion-794558">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-heading">-->
    <!--<a class="panel-toggle" data-toggle="collapse" data-parent="#accordion-794558"-->
    <!--href="#accordion-element-230711" onclick="bbb(1)">切换表格模式</a>-->
    <!--</div>-->
    <!--<div id="accordion-element-230711" class="panel-collapse collapse">-->
    <!--<div class="panel-body" id="pm">-->
    <!--干写...-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-heading">-->
    <!--<a class="panel-toggle" data-toggle="collapse" data-parent="#accordion-794558"-->
    <!--href="#accordion-element-518173" onclick="ech(1)">切换图形模式</a>-->
    <!--</div>-->
    <!--<div id="accordion-element-518173" class="panel-collapse collapse in">-->
    <!--<div class="panel-body">-->
    <!--将集资数据切换为图形模式，eharts写的...-->
    <!--<div id="xyz" style="width: 100%;height: 100%"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        // ech(1);
        bbb(1);
    });
</script>
<script>
    function ech(id) {
        var z = [];
        var n = [];
        $.get({
            url: "[[${#request.getContextPath()}]]/snh48/analysisResult",
            data: {id: id},
            dataType: 'json',
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    //result[i]表示获得第i个json对象即JSONObject
                    //result[i]通过.字段名称即可获得指定字段的值
                    z.push({
                        value: result[i].money,
                        name: result[i].name
                    });
                    n.push(result[i].name);
                }
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('pm'), 'essos');
                var option = {
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        left: 'left',
                        data: n
                    },
                    series: [
                        {
                            name: '金额占比',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: z,
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            }
        });
    }
</script>

<script>
    function bbb(id) {
        var team = new Array();
        team[0] = "Team SII";
        team[1] = "Team NII";
        team[2] = "Team HII";
        team[3] = "Team X";
        team[4] = "Team B";
        team[5] = "Team E";
        team[6] = "Team J";
        team[7] = "Team G";
        team[8] = "Team NIII";
        team[9] = "Team Z";

        var color1 = new Array();
        color1[0] = "#90D2F5";
        color1[1] = "#9e57b4";
        color1[2] = "#f8941d";
        color1[3] = "#a3cd43";
        color1[4] = "#f79fb8";
        color1[5] = "#60dbd8";
        color1[6] = "#006AB7";
        color1[7] = "#abca11";
        color1[8] = "#ffe249";
        color1[9] = "#ea617b";


        var party = new Array();
        party[0] = "SNH48";
        party[1] = "BEJ48";
        party[2] = "GNZ48";
        // party[3] = "SHY48";
        // party[4] = "CKG48";

        var color2 = new Array();
        color2[0] = "#90D2F5";
        color2[1] = "#f79fb8";
        color2[2] = "#abca11";
        // color2[3] = "#e200cd";
        // color2[4] = "#9d6323";
        var s = '<div class="table-responsive"><table class="table"><thead class="thead-dark"><tr><th>排名</th><th>名称</th><th>金额</th><th>比例</th></tr></thead><tbody>';
        $.get({
            url: "[[${#request.getContextPath()}]]/snh48/analysisResult",
            data: {id: id},
            dataType: 'json',
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    if (id === 1) {
                        for (var j = 0; j < team.length; j++) {
                            if (team[j] === result[i].name) {
                                s += '<tr bgcolor="' + color1[j] + '"><td>' + result[i].id + '</td><td>' + result[i].name + '</td><td>' + result[i].money + '</td><td>' + result[i].scale + '</td></tr>';
                            }
                        }
                    } else if (id === 2) {
                        for (var j = 0; j < party.length; j++) {
                            if (party[j] === result[i].name) {
                                s += '<tr bgcolor="' + color2[j] + '"><td>' + result[i].id + '</td><td>' + result[i].name + '</td><td>' + result[i].money + '</td><td>' + result[i].scale + '</td></tr>';
                            }
                        }
                    } else {
                        s += '<tr><td>' + result[i].id + '</td><td>' + result[i].name + '</td><td>' + result[i].money + '</td><td>' + result[i].scale + '</td></tr>';
                    }
                }
                s = s + '</tbody></table></div>';
                $("#xyz").html(s);
            }
        });

    }
</script>
<script>
    function search() {
        var name = $('#main').val();
        var s = '<ul class="list-group">';
        $.ajax({
            type: 'POST',
            url: "[[${#request.getContextPath()}]]/snh48/search",
            data: {name: name},
            dataType: 'json',
            success: function (result) {
                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        s += '<li class="list-group-item">你为' + result[i].memberName + '一共集资了' + result[i].money + '元，集资了' + result[i].count + '次(参与一个链接算一次)，该小偶像总集资数为' + result[i].totalMoney + '元，你占她集资总额的百分比是' + toPercent(result[i].money, result[i].totalMoney) + '。</li>';
                    }
                } else {
                    s += '<li class="list-group-item">输入的id有误，请重新输入正在使用的摩点id！</li>';
                }
                s = s + '</ul>';
                $("#bg").html(s);
            }
        });
    }
</script>

<script>
    function bg() {
        var name = $('#main').val();
        var color = new Array();
        color[0] = "";
        color[1] = "active";
        color[2] = "success";
        color[3] = "warning";
        color[4] = "danger";
        color[5] = "info";
        var s = '<table class="table table-responsive"><caption>你的集资信息表：</caption><thead><tr><th>成员</th><th>金额</th><th>比例</th><th>次数</th></tr></thead><tbody>';
        $.ajax({
            type: 'POST',
            url: "[[${#request.getContextPath()}]]/snh48/search",
            data: {name: name},
            dataType: 'json',
            success: function (result) {
                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        var n = Math.floor(Math.random() * (5 + 1));
                        s += '<tr class="' + color[n] + '"><td>' + result[i].memberName + '</td><td>' + result[i].money + '</td><td>' + toPercent(result[i].money, result[i].totalMoney) + '</td><td>' + result[i].count + '</td></tr>';
                    }
                    s = s + '</tbody></table>';
                } else {
                    s = '<p class="bg-primary">输入的id有误，请重新输入正在使用的摩点id！</p>';
                }
                $("#bg").html(s);
            }
        });
    }
</script>

<script>
    function toPercent(num, total) {
        return (Math.round(num / total * 10000) / 100.00 + "%");// 小数点后两位百分比
    }
</script>
</body>
</html>