<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>SNH48-Data visualization</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form th:action="@{/snh48/toLogin}" method="get">
                <div class="form-group">
                    <label for="exampleInputEmail1">用户名</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="输入你的用户名" name="username">
                    <small id="emailHelp" class="form-text text-muted">用户名账号信息找开发者获取.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">密码</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="输入你的密码"
                           name="password">
                </div>
                <p th:if=" ${msg} eq '1'" th:text="账号不存在！" class="text-danger"></p>
                <p th:if=" ${msg} eq '2'" th:text="密码错误！" class="text-danger"></p>
                <p th:if=" ${msg} eq '3'" th:text="账号不能为空！" class="text-danger"></p>
                <p th:if=" ${msg} eq '4'" th:text="密码不能为空！" class="text-danger"></p>
                <!--<div class="form-check">-->
                <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
                <!--<label class="form-check-label" for="exampleCheck1">Check me out</label>-->
                <!--</div>-->
                <button type="submit" class="btn btn-primary">登录</button>
            </form>
        </div>
    </div>

</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>