<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="/echarts.common.min.js"></script>
    <script src="/essos.js"></script>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>SNH48-Data visualization</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="index"> <img src="snh48.jpg" width="30" height="30" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="all">集资总榜 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="analysis">全团分析</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="rank">土豪列表</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="recentPK">近期PK</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                下拉更多
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="card">模型预测</a>
                                <a class="dropdown-item" href="#">CP榜单</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="login">登录</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" th:action="@{/snh48/user}" method="get">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                               name="name" th:value="${name}">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>id</th>
                        <th>成员</th>
                        <th>团体</th>
                        <th>队伍</th>
                        <th>期数</th>
                        <th>状态</th>
                        <th>修改</th>
                        <th>查看</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="m:${list}">
                        <td th:text="${m.id}"></td>
                        <td th:text="${m.name}"></td>
                        <td th:text="${m.party}"></td>
                        <td th:text="${m.team}"></td>
                        <td th:text="${m.periods}"></td>
                        <td th:text="${m.status}"></td>
                        <td>
                            <button type="button" class="btn btn-outline-dark"
                                    th:onclick="'aaa('+${m.id}+')'">修改
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-dark"
                                    th:onclick="'ech(&quot;'+${m.name}+'&quot;)'">链接
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    function aaa(id) {
        // alert(name);
        window.location.href = "[[${#request.getContextPath()}]]/manage/update?id=" + id;
    }
</script>
<script>
    function ech(name) {
        window.open("[[${#request.getContextPath()}]]/manage/member?name=" + name);
    }
</script>
</body>
</html>